.title {
  font-size: 300%;
  display: flex;
  justify-content: center;
  padding: 30px;
}

.card {
  padding: 10px;
  height: 100%;
}

.dropdown {
  padding: 1%;
  width: 60%;
  margin: 0 auto;
}

#container {
  justify-content: center;
  display: flex;
}
